.contact{
    margin-left: 140px;
    margin-bottom: 60px;
    padding-top: 50px;
}

.card0{
    background:  linear-gradient(yellow,rgb(81, 218, 2));
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px;
}
.card2{
    margin: 0px 40px;
}
.card1 .image{
    padding: 30px;
    margin-top: 30px;
    height: 100%;
    width: 100%;
}
.border-line{
    border-right: 1px solid #e0e0e0;
}
.line{
    height: 1px;
    width: 45%;
    background-color: #e0e0e0;
    margin-top: 10px;
}
.or{
    display: flex;
    width: 10%;
    font-weight: bolder;
}
::placeholder{
   
    color: gray;
    opacity: 1;
    font-weight: bolder;
}
input,textarea{
    padding: 10px 12px;
   
    border: 2px solid rgb(185, 197, 206);
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    color: hsl(244, 98%, 16%);
    font-weight: 3rem;
    letter-spacing: 1px;
}
input:focus,textarea:focus{
    box-shadow: none !important;
    outline: 1px solid #025abe !important; 
    outline-width: 0px;
}
.button{
    width: 300px;
    padding: 6px;
    justify-content: center;
    background-color: #002958;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border-radius: 2px;
    margin-top: 15px;
    margin-left: 130px;
    margin-bottom: 20px;
}
.button:focus{
    box-shadow: none;
    outline-width: 0px;
}
.button:hover{
    background-color: #025abe;
    color: white;
    transition: 1s;
}
.card2 h4{
    color: #025abe;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
.card2 h4:hover{
    color: #ff0095;
    
    transition: 1s;
}
.card2 BsLinkedin{
    cursor: pointer;

}
.card2 BsGithub{
    cursor: pointer;

}
.card2 BsFacebook{
    cursor: pointer;

}
.card2 BsInstagram{
    cursor: pointer;

}
.card2 BsLinkedin:hover{
    color: #025abe;

}
.card2 BsGithub:hover{
    color: rgb(49, 47, 47);

}
.card2 BsFacebook:hover{
    color: #0274f7;

}
.card2 BsInstagram:hover{
    color: #ff0095;

}

/* ========= DARK MODE ============ */
 
#dark .card0{
    background: linear-gradient(gray,black);
    background-color: #35293283;
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px;
}
#dark .card2 h4{
    color: aliceblue;
  }
  #dark .card2 hr{
    color: aliceblue;
  }
  #dark .or{
    color: #e0e0e0;
  }
  #dark .card2 h4:hover{
    color: rgb(255, 251, 0);
    transition: 1s;
  }
  /* ======================== */
@media (max-width: 600px) {
    .contact {
      margin: 0;
      padding: 0;
      margin-top: 50px;
    }
    .contact .card2 {
      margin: 0;
    }
  
    .contact .card2 h6 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    input,textarea{
       margin-left: 12px;
    }
    .button{
        margin-left:60px;
        
       
       
    }
  }