.project {
    margin: 50px 0px;
    margin-left: 140px;
  }
  
  .project hr {
    color: #0099ff;
    width: 400px;
    margin: 10px auto;
  }
  
  .project h2 {
    font-weight: bold;
    color: #006de9;
    cursor: pointer;
  }
  .project h2:hover {
    color: rgb(240, 12, 50);
    transition: 1.5s;
  }
  #ads {
    margin: 30px 0px 30px 0px;
  }
  
  #ads .card-notify-badge {
    position: absolute;
    left: -10px;
    top: -20px;
    background: #f3f702;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: rgb(20, 10, 10);
    padding: 5px 10px;
    font-weight: bolder;
    font-size: 14px;
  }
  
  .project .card img {
    height: 150px;
    width: 100%;
  }
  
  .card-detail-badge {
    
    background-color: #00ebf3;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: rgb(13, 19, 12);
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
  }
  .card-image-overly {
    font-size: 20px;
  }
  .card-image-overly span {
    display: inline-block;
    margin-left: 5px;
  }
  
  .project .card:hover {
    background-color: rgba(134, 133, 133, 0.438);
    border-radius: 4px;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    transition: all 1s ease;
  }
  
  .ad-btn {
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    display: block;
    text-align: center;
    background-color: #0099ff;
    color: white;
    border-radius: 80px;
    font-size: 16px;
    line-height: 35px;
    text-decoration: none;
    margin: 20px auto 20px auto;
    overflow: hidden;
    position: relative;
  }
  
  .ad-btn:hover {
    background-color: white;
    color: #f7f7f7;
    background: #e90c73;
    border: 2px solid #e90c73;
    transition: all 0.5s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  }
  
  /* =============================== */
  @media (max-width: 600px) {
    .project {
      margin: 0;
      padding: 0;
      margin-top: 50px;
    }
    .project hr {
      width: 280px;
    }
    .project .card {
      margin-top: 30px;
    }
  }

  /* ========= DARK MODE ============ */
 
  #dark .project h2{
    color: aliceblue;
  }
  #dark .project hr{
    color: aliceblue;
  }
  #dark .project h2:hover{
    color: rgb(255, 251, 0);
    transition: 1s;
  }

  #dark .ad-btn {
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    display: block;
    text-align: center;
    background-color: #0099ff;
    color: white;
    border-radius: 80px;
    font-size: 16px;
    line-height: 35px;
    text-decoration: none;
    margin: 20px auto 20px auto;
    overflow: hidden;
    position: relative;
  }
  
 #dark .ad-btn:hover {
    background-color: white;
    color: #ffffff;
    background: #ff0077;
    border: 2px solid #e90c73;
    transition: all 0.5s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  }
  